@charset "UTF-8";

/* Estilos para telas menores que 1024px (Tablets e Laptops Pequenos) */
@media (min-width: 1025px)
{
    section{
        width: 60vw;
    }

    .demo{
        width: 40vw;
        margin: auto;
    }

    .text-content{
        width: 40vw;
        margin: 2rem;
    }

    button{
        width: 300px;
        height: 60px;
        font-size: 1.5rem;
        margin: 2;
        border-radius: 100px;
    }

    .btn-foot{
        width: 215px;
        height: 30px;
    }

    header img{
        width: 40em;
    }

    header h1 {
        font-size: 2em;
    }

    nav img {
        width: 100px;
    }

    ul{
        padding-inline-start: 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    section{
        width: 60vw;
    }

    .demo{
        width: 40vw;
        margin: auto;
    }

    .text-content{
        width: 40vw;
        margin: 1rem;
    }

    button{
        height: 60px;
        font-size: 1rem;
        margin: 2;
        border-radius: 100px;
    }

    .btn-main{
        width: 300px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn-foot{
        width: 215px;
        height: 30px;
    }

    header img{
        width: 40em;
    }

    header h1 {
        font-size: 2em;
    }

    nav img {
        width: 100px;
    }

    ul{
        padding-inline-start: 0px;
    }

}

/* Estilos para telas menores que 768px (Tablets e Celulares Grandes) */
@media (min-width: 481px) and (max-width: 768px) {
    section{
        width: 70vw;
    }

    .text-content{
        width: 55vw;
        margin: 1rem;
    }

    .demo{
        width: 55vw;
    }

    .btn-main{
        width: 200px;
        height: 30px;
    }

    ul{
        padding-inline-start: 0px;
    }

    .btn-foot{
        width: 215px;
        height: 30px;
    }
}

/* Estilos para telas menores que 480px (Celulares Pequenos) */
@media (max-width: 480px){

    section{
        padding: 0px;
        width: 70vw;
    }

    button{

        height: 25px;
        font-size: 1rem;
        border-radius: 50px;
    }

    .btn-foot{
        width: 215px;
        height: 30px;
    }

    header h1 {
        font-size: 1em;
    }

    .demo{
        width: 60vw;
    }

    .text-content{
        width: 60vw;
        margin: 1rem;
    }

    .prova-social
    {font-size: .8em;}

    ul
    {
       font-size: .8em;
       padding-inline-start: 0px;
    }

    p{
        font-size: .8em;
    }

}
